body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #e9ecff, #dfeaff);
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.todo-container {
    width: 50%;
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
}

.todo-container h1 {
    font-size: 28px;
    font-weight: 600;
    color: #3b3b77;
    margin-bottom: 5px;
}

.todo-container p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #555;
}

.input-wrapper {
    width: 100%;
    background: #ffffff;
    padding: 40px 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    height: 55px;
    box-sizing: border-box;
}

.input-wrapper input {
    flex: 1;
    background: #f4f6ff;
    border: 1.5px solid #e0e5ff;
    padding: 10px 14px;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
    height: 15px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.08);
    transition: all 0.2s ease;
}

.input-wrapper input:focus {
    border-color: #b9c3ff;
    box-shadow: 0 0 8px rgba(140, 155, 255, 0.4), inset 0 2px 5px rgba(0,0,0,0.1);
    background: #eef1ff;
}

.add-btn {
    background: black;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
}

.task-box {
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    min-height: 200px; 
}

.task-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 5px;
    color: #555;
}

.task-summary span {
    margin-right: 6px;
}

.clear-completed {
    color: #e95353;
    cursor: pointer;
    font-weight: 500;
    margin-left: auto;
}

.clear-completed:hover {
    text-decoration: underline;
}

.empty-text {
    color: #999;
    font-size: 16px;
    padding: 80px 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    background: #f7f7f7;
    border-radius: 12px;
    margin-bottom: 10px;
}

.completed .task-text {
    text-decoration: line-through;
    color: gray;
}

.actions {
    display: flex;
    align-items: center;
}

.actions span {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

.actions span:hover {
    opacity: 0.7;
}
